<div class="container">
    <div class="jumbotron">
        <h1>EAT-DA-BURGER</h1>
        <br>
        <div>
        <form class="burger-form">
            <div class="form-group">
                <label for="add new burger">Add New Burger</label>
                <input type="text" id="add-burger" name="burger">
                <!-- button for submitting new burger -->
                <button type="submit" class="btn btn-success" id="burger-add"></button>
            </div>
        </form> <!-- END OF FORM -->
    </div>
    </div> <!-- END OF JUMBOTRON -->

    <!-- Uneaten Burgers -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="uneaten-burgers">Uneaten Burgers</div>
                <div class="panel-body">
                    <ul>
                        <!-- handlebars expression -->
                        {{#each burger}}
                            {{#unless devoured}}
                                {{this.id}} - {{this.burger_name}}
                                <button type="button" class="btn btn-primary eat-burger" id="eat-button" data-id="{{this.id}}" data-newDevoured="{{devour}}"></button>
                                <hr>
                            {{/unless}}
                        {{/each}}    
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- END OF ROW -->
    
<!-- Eaten Burgers -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="eaten-burgers">Devoured Burgers</div>
                <div class="panel-body">
                    <ul>
                        <!-- handlebars expression -->
                        <!-- Uneaten Burgers -->
                        {{#each burger}}
                            {{#if devoured}}
                                {{this.id}} - {{this.burger_name}}
                                <button type="button" class="btn btn-primary devour-burger" id="devour-button" data-id="{{this.id}}" data-newDevoured="{{devour}}"></button>
                                <hr>
                            {{/if}}
                        {{/each}}    
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>